
body
{
  background-image: url('https://cdn.discordapp.com/attachments/582274693097193472/778987567185395742/Exeter-Academy-Bldg.png')
}

.profile-picture
{
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
.profile-bar
{
  background: #DCDCDC;
  border-radius: 5px;
  padding: 7px 15px;
  
  i
  {
    margin-top: 9px;
    margin-left: 7px;
    font-size: 25px;
    color: #808080;
    transition: .5s;
    
    &:hover {
      color: #bababa;
      cursor: pointer;
    }
  }
}

.search-bar
{
  padding: 0px 0px;
  
  i
  {
    color: #DCDCDC;
    vertical-align: middle;
  }
}

input
{
  border: none;
  border-radius: 5px;
  width: 300px; 
  
  &::placeholder
  {
    color: #DCDCDC;
  }
  
  &::focus
  {
    outline: none;
  }
}

.container 
{
  background: #862727;
;
  border-radius: 5px;
  margin: 50px auto;
} 

.friend-drawer 
{
  vertical-align: baseline;
  padding: 20px;
  background: #DCDCDC;
  transition: .3 ease;
  border-radius: 5px;
  margin-top: 15px;
  transition: .5s;
  width: 90%;
}

.friend-drawer:hover {
  border: 0;
  background-color: var(--white);
  width: calc(95% + 2px);
  padding-left: calc(10% + 1px);
  cursor: pointer;
}

hr 
{
  margin: 1px;
}
    
.messages{

}

.container{
    align-content: center;
}

.user_pfp{
    height: 50px;
    width: 50px;
    border: 1px solid #ffffff;
}

.message_received{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #fcfcfc;
    padding: 10px;
    position: relative;
}
.message_sent{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #fcfcfc;
    padding: 10px;
    position: relative;
}
.time_date{
    position: absolute;
    left: 0;
    bottom: -30px;
    padding-top:15px;
    color: #fcfcfc;
    font-weight: 1.5;
    font-size: 10px;
}

.chat-footer{
  display: inline;
  overflow: hidden;
}

.input-group {
  float: left;
  width: 85%;
  padding-bottom: 20px;
}

.send-btn{
  float: left;
  margin-left: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 3.4em;
  width: 12%;
  height: 3.8em;
  color: black !important;
  background-color: white;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #c0c0c0;
}

.chat-column {
  margin-left: 3.3em;
}

.text-chat {
  overflow-y:auto;
  height: 26em;
}

.chat-list {
  padding: 15px 0px;
  i
  {
    color: #DCDCDC;
    vertical-align: middle;
  }
}

.chat-list {
  margin-top: 30px;
  overflow-y: auto;
  height: 32em;
}
