html{
    
}
body {
    background-image: 
    url(https://cdn.discordapp.com/attachments/582274693097193472/778987567185395742/Exeter-Academy-Bldg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}

.profile-picture
{
  width: 40px;
  height: 40px;
  border-radius: 25px;
}.profile-bar {
    background: #DCDCDC;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
  i
  {
    margin-top: 9px;
    margin-left: 7px;
    font-size: 25px;
    color: #808080;
    transition: .5s;
    
    &:hover {
      color: #bababa;
      cursor: pointer;
    }
  }
}

.search-bar
{
  padding: 0px 0px;
  
  i
  {
    color: #DCDCDC;
    vertical-align: middle;
  }
}

input
{
  border: none;
  border-radius: 5px;
  width: 300px; 
  
  &::placeholder
  {
    color: #DCDCDC;
  }
  
  &::focus
  {
    outline: none;
  }
}

.container 
{
  background:radial-gradient(circle at center,rgba(134, 39, 39,0.6),rgba(134, 39, 39,0.3),rgba(134, 39, 39,1));
  
;
  border-radius: 5px;
  margin: 50px auto;
  padding-left:50px;
  height:100%;
} 

.friend-drawer 
{
  vertical-align: baseline;
  padding: 20px;
  background: #DCDCDC;
  transition: .3 ease;
  border-radius: 5px;
  margin-top: 15px;
  transition: .5s;
  width: 90%;
}

.friend-drawer:hover {
  border: 0;
  background-color: var(--white);
  width: calc(95% + 2px);
  padding-left: calc(10% + 1px);
  cursor: pointer;
}

hr 
{
  margin: 1px;
}
    
.messages{
}

.container{
    align-content: center;
}

.user_pfp{
    height: 50px;
    width: 50px;
    border: 1px solid #ffffff;
}

.message_received{
    margin-left:10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #fcfcfc;
    padding: 15px;
    position: relative;
    text-align:left;
}
.hid .time_date {
    text-align: left!important;
}
.time_date {
    position: relative;
    color: #fcfcfc;
    font-size: 14px;
    padding-right: 20px;
    padding-left:20px;
    text-align: right;
}
.message_sent {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #fcfcfc;
    padding: 15px;
    position: relative;
    text-align:right;
}

.chat-footer{
  display: inline;
  overflow: hidden;
}

.input-group {
  float: left;
  width: 85%;
  padding-bottom: 40px;
}
p#dad {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
}
.send-btn{
  float: left;
  margin-left: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 3.4em;
  width: 12%;
  height: 3.8em;
  color: black !important;
  background-color: white;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #c0c0c0;
}

.chat-column {
  margin-left: 3.3em;
}

.text-chat {
    padding-top:20px;
  overflow-y:auto;
  height: 35em;
}

.chat-list {
  padding: 15px 0px;
  i
  {
    color: #c0c0c0;
    vertical-align: middle;
  }
}

.chat-list {
  margin-top: 30px;
  overflow-y: auto;
  height: 35em;
}
